// Тут переменные 
$BASE_WHITE: #FFFFFF;
$BASE_BLACK: #000000;

$PURPLE_9564AA: #9564AA;
$PURPLE_684677: #684677;
$PURPLE_C15CA1: #C15CA1;

$YELLOW_FFCF2D: #FFCF2D;

$RED_AA6464: #AA6464;

$tablet: 768px;
$desktop: 1170px;

// $bg-base: $BASE_WHITE;
// $bg-primart: $PURPLE_9564AA;

// $txt-clr-base: $BASE_WHITE;
// $txt-clr-primary: $BASE_BLACK;
// $txt-clr-secondary: $PURPLE_9564AA;

// $icon-color-base: $PURPLE_9564AA;
// $icon-color-hover: $YELLOW_FFCF2D;

// $btn-bg-color: $BASE_WHITE;

// $border-clr-base: $PURPLE_9564AA;
// $border-clr-secondary: $RED_AA6464;
