.page {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    background-color: $BASE_WHITE;
    color: $BASE_BLACK;

    &__content {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media (min-width:$desktop) {
        &__content {
            position: static;
            padding-top: 30px;
            padding-bottom: 15px;
        }

        &__content .container {
            padding: 0;
        }
    }
}