.service {

  min-width: 100%;

  &__list {
    display: grid;
    gap: 0px;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 0;
      max-width: 470px;
      margin: auto;
    }
  }

  &__item {
    position: relative;
    text-align: left;
    color: $PURPLE_9564AA;
    font-weight: 700;
    min-height: 42px;
    font-size: 12px;
    padding-left: 30px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $desktop) {
      text-align: center;
      min-height: auto;
      align-items: flex-start;
      max-width: 170px;
      padding: 55px 5% 0 5%;
    }



    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      left: 6px;
      top: 24px;
      border-radius: 50%;
      background: rgba(149, 100, 170, 0.1) url('./../images/gift.svg') no-repeat center;
      background-size: 18px;

      @media screen and (min-width: $desktop) {
        top: 0;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, 0);
      }


    }

    // &:hover {
    //   @media screen and (min-width: $desktop) {
    //     &::after {

    //     }
    //   }
    // }


    &--message {
      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/message.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--message:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -48%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/message.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }
    }


    &--messages {
      display: none;

      @media screen and (min-width: $desktop) {
        display: block;

      }

      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/message.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--messages:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -45%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/message.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }

    }


    &--premium {
      order: 4;

      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/heart.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--premium:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -48%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/heart.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }
    }


    &--gift {
      order: 3;

      @media screen and (min-width: $desktop) {
        width: 170px;
        max-width: none;

      }

      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/gift.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--gift:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -48%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/gift.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }
    }

    &--eye {

      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/eye.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--eye:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -48%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/eye.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }
    }

    &--settings {
      display: none;

      @media screen and (min-width: $desktop) {
        display: block;
        order: 2;
      }

      &::after {
        background: rgba(149, 100, 170, 0.1) url('./../images/settings.svg') no-repeat center;
        background-size: 18px;
      }
    }

    &--settings:hover {
      @media screen and (min-width: $desktop) {
        &::after {
          background-image: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translate(212%, -45%);
          width: 30px;
          height: 30px;
          left: 6px;
          top: 24px;
          mask-image: url('./../images/settings.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 18px;
          border-radius: 50%;
          background-color: #FFCF2D;
        }
      }
    }

    &--diamon {
      background-image: url('/../images/diamon-bg.svg');
      background-size: 80px;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 90px;
      margin-bottom: -10px;

      @media screen and (min-width: $desktop) {
        margin-bottom: auto;
        background-size: 129px;
        min-height: 135px;
        width: 124px;
      }

      &::after {
        content: '';
        display: none;
      }
    }


  }



  &__item-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:nth-of-type(1) {
    @media screen and (min-width: $desktop) {
      grid-column: 5 / 7;
      grid-row: 1/1;
      order: 0;
    }
  }

  &__item:nth-of-type(2) {
    @media screen and (min-width: $desktop) {
      grid-column: 8 / 10;
      grid-row: 1/1;
      order: 0;
    }
  }

  &__item:nth-of-type(3) {
    @media screen and (min-width: $desktop) {
      grid-column: 5 / 6;
      grid-row: 2/2;
      order: 0;
    }
  }

  &__item:nth-of-type(4) {
    order: -1;

    @media screen and (min-width: $desktop) {
      grid-row: 2/2;
      grid-column: 6/ 9;
      order: 0;
    }
  }

  &__item:nth-of-type(5) {
    @media screen and (min-width: $desktop) {
      grid-column: 9 / 10;
      grid-row: 2/2;
      order: 0;
    }
  }

  &__item:nth-of-type(6) {
    @media screen and (min-width: $desktop) {
      grid-column: 6 / 9;
      grid-row: 3/3;
    }
  }

  &__item:nth-of-type(7) {
    @media screen and (min-width: $desktop) {
      grid-column: 6 / 9;
      grid-row: 3/3;
    }
  }
}