<div class="container">
    <div class="header__content">
        <a href="#" class="header__logo link">Logo</a>
        <button class="header__burger-button button header__burger-button--no-js">
            <span class="visually-hidden">Бургер меню</span>
        </button>
        <p class="header__text m-0">People nearby</p>
        <a href="#" class="header__premium-link link">
            <span class="header__premium-link-text">Premium</span>
            <img src="images/diamon.svg" alt="Премиум">
        </a>
    </div>
</div>