<section class="hero">
    <h1 class="hidden">Главная страница</h1>
    <h2 class="hero__title">Закончились кредиты?</h2>
    <div class="timer">
        <p class="timer__title">Скидка 40%</p>
        <p class="timer__description">Предложение действует в течение:</p>
        <p class="timer__visual">
            <span class="timer__span" id="hours">00</span>
            <span class="timer__span">:</span>
            <span class="timer__span" id="minutes">28</span>
            <span class="timer__span">:</span>
            <span class="timer__span" id="seconds">12</span>
        </p>
    </div>
    <form action="#" method="post" class="policy-form">
        <div class="policy-form__swiper">
            <ul class="price list-style-none swiper-wrapper">
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            50
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$5</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            150
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$15</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            300
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$30</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            500
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$50</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            1000
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$100</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
                <li class="price__item swiper-slide">
                    <div class="price__item-swiper-block">
                        <p class="price__item-text">One time offer!</p>
                        <p class="price__item-cost">
                            1000
                            <span class="price__cost-icon">cr</span>
                            <span class="price__cost-mobile">/$100</span>
                        </p>
                        <button class="price__item-button button">Buy now</button>
                    </div>
                </li>
            </ul>
            <div class="policy-form__pagination-list swiper-pagination">
            </div>
        </div>
        <div class="policy-form__block">
            <button class="policy-form__button-mobile">Try now</button>
            <div class="policy-form__check">
                <label class="policy-form__label" aria-label="Privacy Policy">
                    <input class="policy-form__input" type="checkbox" id="checkbox">
                    <span></span>
                </label>
                <p class="policy-form__text">
                    By clicking Checkbox you agree and accept our
                    <a class="policy-form__link link" href="#">Privacy Policy</a>
                    , and
                    <a class="policy-form__link link" href="#">Terms of use</a>
                </p>
            </div>
        </div>
    </form>
</section>