<section class="service">
    <div class="container">
        <h2 class="visually-hidden">Service block</h2>
        <ul class="service__list list-style-none">
            <li class="service__item service__item--message">
                <div class="service__item-text">Отправлять сообщения</div>
            </li>
            <li class="service__item service__item--premium">
                <div class="service__item-text">Пользоваться другими премиум функциями</div>
            </li>
            <li class="service__item service__item--gift">
                <div class="service__item-text">Оплачивать подарки</div>
            </li>
            <li class="service__item service__item--diamon"></li>
            <li class="service__item service__item--eye">
                <div class="service__item-text">Просматривать скрытые фото</div>
            </li>
            <li class="service__item service__item--messages">
                <div class="service__item-text">Просматривать скрытые фото</div>
            </li>
            <li class="service__item service__item--settings">
                <div class="service__item-text">Просматривать скрытые фото</div>
            </li>
        </ul>
    </div>
</section>