<nav class="user-navbar user-navbar--no-js">
    <div class="user-navbar__accaunt">
        <a href="#" class="user-navbar__profile-avatar-link link">
            <img class="user-navbar__profile-img" src="../../images/user-avatar.jpg" alt="" width="49" height="49">
        </a>
        <a href="#" class="user-navbar__profile-name-link link">Test2412</a>
        <a href="#" class="user-navbar__get-premium link">GET PREMIUM</a>
    </div>

    <ul class="user-navbar__list list-style-none">
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--profile link">Profile</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--photos link">My photos</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--messages link">Messages</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--favorites link">Favorites</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--guests link">Guests</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--settings link">Settings</a>
        </li>
        <li class="user-navbar__item">
            <a href="#" class="user-navbar__item-link user-navbar__item-link--log-out link">Log out</a>
        </li>
    </ul>
</nav>